%arizona-tea {
    background-color: rgb(230, 246, 237);
    color: rgb(26, 30, 28);
}

%arizona-dark {
    background-color: rgb(14, 19, 16);
    color: rgb(209, 244, 223);
    border-color: rgb(11, 15, 12);
}

//margin reset/ out of flow
body, html {
    font-size: 16px; //default size
    margin: 0;
    overflow-x: hidden;
}

#tea {
    width: 100vw;
    height: 100%;
    z-index: -1;
    position: fixed;
    text-align: center;
}

#tea img {
    opacity: 0.1;
    transform: scale(0.5);
}

//header
.header {
    @extend %arizona-tea;
}

//main
#main {
    // margin: 2rem 8rem 3rem 8rem;
    margin: 0 auto;
    height: 75vh;
    width: 80vw;
}

//grid
.works {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 2rem;
}

.card {
    margin: 0 auto;
    opacity: 0;
    transform: translateY(8rem);
    animation: fade-in 2s ease forwards, move-up 0.5s ease-out forwards;
}

.card-1 {
    animation-delay: 0.1s;
}

.card-2 {
    animation-delay: 0.3s;
}

.card-3 {
    animation-delay: 0.5s;
}

.card-4 {
    animation-delay: 0.6s;
}

.card-5 {
    animation-delay: 0.8s;
}

.card .btn {
    @extend %arizona-dark;
}

@keyframes move-up {
    from {
        transform: translateY(8rem);
    }
    to {
        transform: translateY(0rem);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

//mobile responsive
@media only screen and (max-width: 1024px) {
    #main {
        margin: 2rem auto;
        width: auto;
    }
    .works {
        width: auto;
        grid-template-columns: auto;
    }

    .card-5{ //change this to the last card created
        margin-bottom: 2rem; //making sure that the last card won't clip the bottom of the page
    }
}