@import url("https://fonts.googleapis.com/css?family=Poppins");
.box-2 {
  padding: 3rem 12rem;
}

.pineapple, .milk, .soup {
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.pineapple:hover, .milk:hover, .soup:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 1;
}

body,
html {
  font-size: 16px;
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

main {
  width: 100%;
  height: 100%;
}

.heading {
  font-family: 'Poppins', sans-serif;
  font-size: 3.2rem;
}

.img-frame {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

.img-frame img {
  position: relative;
}

.img-text {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 8rem;
  font-weight: bold;
  -webkit-transition: opacity 0.75s ease-in-out;
  transition: opacity 0.75s ease-in-out;
  z-index: 2;
  opacity: 0;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.navbar-brand {
  font-size: 1.5rem;
}

.navbar a {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar-dark {
  margin-left: 3rem;
}

.box {
  width: 100vw;
}

.box-1 {
  height: 120vh;
  background-image: url("images/welcome_small.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.box-2 {
  height: 40vh;
  background-color: #f1f1eb;
}

.box-3 {
  min-height: 60vh;
  max-height: auto;
  background-color: 238, 241, 235;
  padding: 3rem 5rem;
}

.box-4 {
  height: auto;
  background-color: #3c3c3b;
  color: white;
  padding: 3rem 1rem 3rem 2rem;
}

.box-5 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  text-align: center;
  height: 100vh;
  padding-top: 10vh;
  background-image: url("images/wall_small.jpg");
  background-size: cover;
  background-attachment: fixed;
}

#welcome-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: 'Poppins', sans-serif;
  font-size: 4rem;
}

#welcome-text p {
  padding: 1rem;
  border: 0.05rem solid black;
}

.heading-normal {
  display: inline-block;
}

.heading-small {
  display: none;
}

.heading-second span {
  font-size: 3rem;
  opacity: 0.3;
}

.second-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2.5rem 10rem 2.5rem 10rem;
}

.heading-third {
  padding-left: 7rem;
}

.heading-third span {
  font-size: 3rem;
  opacity: 0.5;
}

.third-info {
  display: -ms-grid;
  display: grid;
  padding: 0 -4rem;
  -ms-grid-columns: 4fr 2fr;
      grid-template-columns: 4fr 2fr;
  grid-column-gap: 10rem;
}

.third-info p {
  padding-left: 10rem;
}

#skill {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.progress {
  width: 50%;
  margin-top: 1em;
  margin-left: 20%;
}

.image-frame-macbook {
  position: relative;
  width: 100%;
  height: auto;
}

.overlay-macbook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  font-family: Helvetica, sans-serif;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.macbook {
  max-width: 100%;
  height: auto;
  z-index: -1;
}

.image-frame-macbook:hover .overlay-macbook {
  opacity: 1;
}

.heading-fourth {
  padding-left: 11rem;
}

.container-showcase {
  margin: 0 auto;
  width: 70%;
  height: auto;
}

.pineapple:hover .pineapple-text {
  opacity: 1;
}

.milk-text {
  color: #695e5e;
}

.milk:hover .milk-text {
  opacity: 1;
}

.soup-text {
  color: #b3ebf5;
}

.soup:hover .soup-text {
  opacity: 1;
}

.heading-footer {
  color: white;
  width: 100%;
}

.link-table {
  display: -ms-grid;
  display: grid;
  margin-bottom: 15rem;
  padding: 1rem 5rem;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.link-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fa {
  font-size: 10rem;
  width: 10rem;
  height: 10rem;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin: 0 auto;
}

.fa-github {
  color: black;
  background-color: white;
}

.fa:hover {
  text-decoration: none;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 1024px) {
  .box-1 {
    background-size: cover;
    color: white;
  }
  #welcome-text p {
    border: none;
    padding: 0;
  }
  .box-2 {
    height: auto;
    padding: 2rem 1.5rem;
  }
  #heading-second {
    text-align: center;
  }
  .second-info {
    margin: 1rem 1.5rem;
  }
  .box-3 {
    padding: 2rem 1rem;
  }
  .heading-third {
    padding-left: 1rem;
  }
  .third-info {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin: 1rem 1rem;
    padding: 0 1rem;
    grid-row-gap: 2rem;
  }
  .third-info p {
    padding-left: 0;
  }
  .progress {
    width: 75%;
    padding-left: 0;
  }
  .image-frame-macbook {
    width: 50%;
    margin: 0 auto;
  }
  .box-4 {
    padding: 2rem 1rem;
  }
}

@media only screen and (max-width: 768px) {
  html,
  body {
    font-size: 15px;
  }
  .navbar {
    -webkit-transition: all 0.1 ease-in;
    transition: all 0.1 ease-in;
  }
  .navbar-dark {
    margin-left: 0;
  }
  .heading-normal {
    display: none;
  }
  .heading-small {
    display: inline-block;
  }
  .third-info {
    grid-row-gap: 3rem;
  }
  .image-frame-macbook {
    width: 75%;
  }
  .heading-fourth {
    padding-left: 0;
  }
  .img-text {
    font-size: 4rem;
  }
  .link-table {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    grid-row-gap: 3rem;
    margin-bottom: 5rem;
  }
  .heading-footer {
    font-size: 2.5rem;
  }
  .fa {
    font-size: 6rem;
    width: 6rem;
    height: 6rem;
  }
}

@media only screen and (max-width: 569px) {
  .welcome-text {
    font-size: 3.5rem;
  }
}

@media only screen and (min-width: 1919px) {
  html,
  body {
    font-size: 17px;
  }
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 1px;
          perspective: 1px;
  -webkit-perspective-origin: 0 0;
          perspective-origin: 0 0;
}

section {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.parallax {
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: translateZ(-1px) scale(2);
          transform: translateZ(-1px) scale(2);
}
/*# sourceMappingURL=style.css.map */