//placeholders
%standard-padding {
    padding: 3rem 12rem;
}

%standard-padding-mobile {
    padding: 2rem 1rem;
}

%img-transition {
    transition: transform 0.5s ease-out;
}

%img-hover-effect {
    transform: scale(1.1);
    z-index: 1;
}

//font-face
@import url('https://fonts.googleapis.com/css?family=Poppins');

// HTML, MAIN
body,
html {
    font-size: 16px;
    margin: 0;
    overflow-x: hidden;
}

main {
    width: 100%;
    height: 100%;
}

//Shared Section Elements
.heading {
    font-family: 'Poppins', sans-serif;
    font-size: 3.2rem;
}

.img-frame {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}

.img-frame img {
    position: relative;
}

.img-text {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); //all these to center the text
    font-size: 8rem;
    font-weight: bold;
    transition: opacity 0.75s ease-in-out;
    z-index: 2; //making sure the text is above the image when the transition is triggered
    opacity: 0; //making the text invisible initially
}


//Navigation
.navbar {
    position: fixed;
    width: 100%;
}

.navbar-brand {
    font-size: 1.5rem;
}

//Boxes, Section containers
.box {
    width: 100vw;
}

.box-1 {
    height: 120vh;
    background-image: url("images/welcome_small.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.box-2 {
    height: 40vh;
    background-color: rgb(241, 241, 235);
    @extend %standard-padding;
}

.box-3 {
    min-height: 60vh;
    max-height: auto;
    background-color: 238, 241, 235;
    // @extend %standard-padding;
    padding: 3rem 5rem;
}

.box-4 {
    height: auto;
    background-color: rgb(60, 60, 59);
    color: white;
    padding: 3rem 1rem 3rem 2rem;
}

.box-5 {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    height: 100vh;
    padding-top: 10vh;
    background-image: url("images/wall_small.jpg");
    background-size: cover;
    background-attachment: fixed;
}

//Sections
//First
#welcome-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
}

#welcome-text p {
    padding: 1rem;
    border: 0.05rem solid black;
}

//Second
.heading-normal {
    display: inline-block;
}

.heading-small {
    //hide short text version if viewport is big enough
    display: none;
}

.heading-second span {
    font-size: 3rem;
    opacity: 0.3;
}

.second-info {
    display: flex;
    margin: 2.5rem 10rem 2.5rem 10rem;
}

//Third
.heading-third {
    padding-left: 7rem; //pushes the heading to have the same spaces with previous section
}

.heading-third span {
    font-size: 3rem;
    opacity: 0.5;
}

.third-info {
    display: grid;
    padding: 0 -4rem;
    grid-template-columns: 4fr 2fr;
    grid-column-gap: 10rem;
}

.third-info p {
    padding-left: 10rem;
}

#skill {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.progress {
    width: 50%;
    margin-top: 1em;
    margin-left: 20%;
}

.image-frame-macbook {
    position: relative;
    width: 100%;
    height: auto;
}

.overlay-macbook {
    display: flex; //to center the text inside vertically and horizontally
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, .2);
    color: white;
    font-family: Helvetica, sans-serif;
    transition: opacity 1s;
}

.macbook {
    max-width: 100%;
    height: auto;
    z-index: -1;
}

.image-frame-macbook:hover .overlay-macbook {
    opacity: 1;
}

//Fourth
.heading-fourth {
    padding-left: 11rem; //make the heading line up with previous ones
}

.container-showcase {
    margin: 0 auto;
    width: 70%;
    height: auto;
}

.pineapple {
    @extend %img-transition;
}

.pineapple:hover {
    @extend %img-hover-effect;
}

.pineapple:hover .pineapple-text {
    opacity: 1;
}

.milk {
    @extend %img-transition;
}

.milk-text {
    color: rgb(105, 94, 94);
}

.milk:hover {
    @extend %img-hover-effect;
}

.milk:hover .milk-text {
    //look for class "milk-text" inside of "milk" class
    opacity: 1;
}

.milk:hover {
    @extend %img-hover-effect;
}

.soup {
    @extend %img-transition;
}

.soup-text {
    color: rgb(179, 235, 245);
}

.soup:hover {
    @extend %img-hover-effect;
}

.soup:hover .soup-text {
    opacity: 1;
}

//footer
.heading-footer {
    color: white;
    width: 100%;
}

.container-link {
    display: grid;
    padding: 1rem 5rem;
    grid-template-columns: 1fr 1fr 1fr
}

.fa {
    //link icon style
    font-size: 10rem;
    width: 10rem;
    height: 10rem;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 0 auto;
}

.fa-github{
    color: black;
    background-color: white;
}

.fa:hover{
    text-decoration: none;
}

//keyframes
@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

//Media query
@media only screen and (max-width: 1024px) {

    //First section
    .box-1 {
        background-size: cover;
        color: white;
    }

    #welcome-text p {
        border: none;
        padding: 0;
    }

    //Second Section
    .box-2 {
        height: auto;
        padding: 2rem 1.5rem;
    }

    #heading-second {
        text-align: center;
    }

    .second-info {
        margin: 1rem 1.5rem;
    }

    //Third Section
    .box-3 {
        padding: 2rem 1rem;
    }

    .heading-third {
        padding-left: 1rem; //reset padding
    }

    .third-info {
        grid-template-columns: 1fr;
        margin: 1rem 1rem;
        padding: 0 1rem;
        grid-row-gap: 2rem;
    }

    .third-info p {
        padding-left: 0; //reset padding
    }

    .progress {
        width: 75%;
        padding-left: 0;
    }

    .image-frame-macbook {
        width: 50%;
        margin: 0 auto;
    }

    //Fourth Section
    .box-4 {
        padding: 2rem 1rem;
    }
}

@media only screen and (max-width: 768px) {

    //body
    html,
    body {
        font-size: 15px;
    }

    .heading-normal {
        //hide normal heading if viewport is small enough
        display: none;
    }

    .heading-small {
        display: inline-block;
    }

    //third section
    .third-info {
        grid-row-gap: 3rem;
    }

    .image-frame-macbook {
        width: 75%;
    }

    //fourth section
    .heading-fourth {
        padding-left: 0;
    }

    .img-text {
        font-size: 4rem;
    }

    //footer
    .container-link{
        grid-template-columns: auto;
        margin-bottom: 5rem; //push the contents up
    }
    .heading-footer{
        font-size: 2.5rem;
    }

    .fa{
        font-size: 6rem;
        width: 6rem;
        height: 6rem;
    }
}

@media only screen and (min-width: 1919px) {

    html,
    body {
        font-size: 18px;
    }
}